<div class="image">
<%= image_tag("hero.jpg") %>
<h1>Increasing the number of bike commuters in Los Angeles<br> would ease the city's notorious traffic,<br> cut down on fossil fuel dependence, and get residents exercising.</h1>
</div>
<div class="image">
<%= image_tag("home1.jpg") %>
<h2><%= link_to "information", info_path %></h2>
</div>
<div class="image">
<%= image_tag("home2.jpg") %>
<h2><%= link_to "getting around", maps_path %></h2>
</div>
<div class="image">
<%= image_tag("home3.jpg") %>
<h2><%= link_to "safety", safety_path %></h2>
</div>
<div class="image">
<%= image_tag("home4.jpg") %>
<h2><%= link_to "getting involved", action_path %></h2>
</div>
<!-- <div class="parallax-window" data-parallax="scroll" data-image-src="images/home1.jpg"></div>
<div class="parallax-window" data-parallax="scroll" data-image-src="images/home2.jpg"></div>
<div class="parallax-window" data-parallax="scroll" data-image-src="images/home1.jpg"></div>
<div class="parallax-window" data-parallax="scroll" data-image-src="images/home2.jpg"></div> -->
